!!!
%html
  %head
    %title Magic Calculator
    = stylesheet_link_tag "general"
    = javascript_include_tag "application", "http://code.jquery.com/jquery-1.7.1.min.js"
    = csrf_meta_tags

    %link{ rel: 'icon', href: '/assets/favicon.png', type: 'image/x-icon' }
    %link{ rel: 'shortcut icon', href: '/assets/favicon.png', type: 'image/x-icon' }

  %body
    = yield

    .about
      = link_to "About", '#', class: 'link'

      .description
        %h3 What's inside?
        %p
          Interface has been made in HTML5 with a pinch of CSS3's and scalable vector graphics' magic inside. jQuery was also very useful ;)
          Back-end has been written in Ruby on Rails. Images are converted from HTML5 canvas to PNG and then to PBM. Those files are sent to the Artificial Neural Network written in Ada where they are processed and recognized and then back to Ruby on Rails as a text.

        %h3 Who stays behind?
        %p
          %strong Szymon Sobański
          rocks because he has made a powerful neural network for image processing.
          %br
          %strong Artur Hebda
          is amazing because the part, what you are actually looking at, was his job.

    :javascript
      $.ajaxSetup({
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        }
      });
      
      $(function() {
        $(window).resize(function() {
          about.onResize();
          doodleSeries.alignSeriesToFrame();
        });
        
        $(".about .link").click(function(event) {
          event.preventDefault();
          about.toggle();
        });
      });
